/* format of CSS

selected tag{
    property: value;
}
*/

h1{
    color: blue;
} 

li{
    color: rgb(255,97,0);
    /* Used for custom colors */
}

p{
    color: #0895a8;
}

h4{
    color: rgba( 255,97,0,1)
    /* a for alpha ranges b/w 0 and 1 where 0 mns transparent and 1 being opaque   */
}